.tortia2 {
    width: 400px;
    background-color: #0f0e0e;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;

    height: 100vh;
    /* relative positioning for the action buttons */
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #EF4136;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    color: #FFF;
    text-align: center;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    /* will grow to take available space */
    overflow-y: auto;
    padding: 5px;
    scrollbar-width: thin;
    scrollbar-color: #EF4136 #0f0e0e;
    margin-bottom: 20px;
}

.description::-webkit-scrollbar {
    width: 4px;
}

.description::-webkit-scrollbar-thumb {
    background-color: #EF4136;
    border-radius: 2px;
}

.description::-webkit-scrollbar-track {
    background: #0f0e0e;
}

.info_section {
    width: 100%;
    color: #FCF3C5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

    margin-bottom: 50px;
}

.info {
    color: #FF7A01;
}

/* .input_section {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
} */

.answer_input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #1f1e1e;
    color: #FFF;
    font-size: 16px;
}

.answer_input::placeholder {
    color: #7A7A7A;
}

.hint_btn,
.action_btn {
    width: 90%;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(180deg, #EF4136 0%, #FF7A01 100%);
    border: none;
    border-radius: 6px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* center the button */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Space between the emoji and the text */
}

.action_btn {
    bottom: 60px;
    /* adjust this value if the hint button overlaps */
}

.action_section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    bottom: 10px;
    position: sticky;
}

@media (max-width: 480px) {
    .tortia2 {
        padding: 15px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        height: 80px;
    }

    .info_section div {
        width: 48%;
        /* Roughly half the width minus the gap */
    }
}